.profile_btn {
    position: relative;
    top: -70px;
}

.creator_profile {
    background-image: "url(/img/creator.png)";
    background-position: center;
    height: "100%";
    background-repeat: "no-repeat";
    padding: 8em 0;
}